export('MEM')
export('build.heatmaps')
export('MEM_RMSD')
importFrom('gplots','heatmap.2')
importFrom('flowCore','read.FCS')
importFrom('flowCore','exprs')
importFrom('tools','file_ext')
importFrom('grDevices', 'X11', 'colorRampPalette', 'dev.off', 'pdf')
importFrom('stats', 'IQR', 'median', 'quantile')
importFrom('utils', 'read.table', 'write.table')
importFrom('matrixStats','colIQRs')
